* {
	margin: 0;
	padding: 0;
}

body {
    background: #2994ff;
    color: #fff;
}

h1{
    text-transform: uppercase;
    
    margin: 0;
}
 
.intro__button {
    border: 1px solid #fff;
    color: #fff; 
    text-decoration: none;
    
    padding: 5px 10px; 
    display: inline-block;

    transition: background .2s linear, color .2s linear;
}

.intro__button:hover {
	color: #2994ff;
	background: #fff;
}

.title {
    color: #fff;
	text-decoration: none;
	font-size: 25px;
	text-transform: uppercase;

}

.tabs {
    background: #2994ff;
    font-weight: bold;
}

.exampleTask {
    border: solid 2px #fff;
    background: #1c8af9;

    padding: 5px;
    margin-bottom: 10px;
}

.header__input {
    text-transform: uppercase;
}

.bar {
    height: 2px;
    background: #fff;

    margin: 2px 0 5px 0;
}

.inputParameters {
    color: #fff;
    border: solid 2px #fff !important;
    background: #1c8af9 !important;

    width: 40% !important;
    
    padding-left: 5px !important;
    margin: 2px 0 8px 0 !important;    
}


